@include media(phone){
    .banner-content{
        display: block !important; 
        .filters{
            padding-bottom: 2% !important;
            border-bottom: none !important;
            i{
                display: block !important;
            }
        }
        .banner-left,.banner-right,.banner-middle{
            width: 100% !important;
        }
        .banner-left--content{
            padding-bottom: 4% !important;
            padding-top: 4% !important;
        }
        .input-icon{
            padding-top: 0.8em !important;
        }
    }
    }    



.banner{
    .banner-content{
        .banner-left{
            width: 300px;
            background-color: #efefefb8;
            overflow: auto;
            .banner-left--content{
                padding: 8%;
                .filters{
                    justify-content: space-between;
                    border-bottom: 1.5px solid #d3d3d3;
                    padding-bottom: 4%;
                    i{
                        color: #8888ff;
                        display: none;
                    }
                    h6{
                        color: #747474;
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                    h5{
                        color: #8888ff;
                        font-size: 0.8em;
                        cursor: pointer;
                        padding-right: 0.5em;
                    }
                    #clear:hover{
                        i,h5{
                        color: #3333ff;
                        }
                    }
                }
                .input-icons{
                    width: 100%;
                    .input-icon{
                        width: 100%;
                        padding-top: 2em;
                        label{
                            font-size: 0.9em;
                            color: #807d7d;
                        }
                    }
                    i{
                        padding: 0.6em;
                        font-size: 1.2em;
                        right: 0em;
                        color: #848484;
                        transition: all 0.4s ease-in-out;
                    }
                    i:hover{
                        color: #000;
                    }
                    .input2{
                        justify-content: space-between;
                        width: 100%;
                        .input{
                            width: 47%;
                            i{
                                padding-top: 2.3em;
                                left: 0;
                                font-size: 1em;
                            }
                        }
                    }
                        input{
                            border-radius: 5px;
                            border: none;
                            height: 38px;
                            width: 100%;
                            background-color: #d5daefb3;
                            transition: all 0.2s ease-in-out;
                        }
                        input:hover{
                            background-color:#b0b4c254;
                        }
                    }
                
                .status{
                    padding-top: 9%;
                    width: 78%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .status-content{
                        width: 50%;
                        padding-bottom: 1em;
                    }
                    label{
                        font-size: 0.9em;
                        display: inline-block;
                        input{
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .banner-right{
            width: 20%;
            height: 690px;
            background-color: #efefefb8;
            .banner-right--content{
                padding:8% ;
                .reimburse{
                    border-bottom: 1.5px solid #d3d3d3;
                    padding-bottom: 4%;
                    h6{
                        color: #747474;
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                }
            }
        }
        .banner-middle{
            width: 60%;
            box-shadow: 0px 0px 26px 3px #747474;   
            overflow: scroll;
            table{
                width: 100%;
                border-collapse: collapse;
                tr{
                    text-align: left;
                    td:nth-of-type(4){
                        color: red;
                    }
                }
                td,th{
                    padding-right: 4%;
                    padding-left: 2%;
                }
                th{
                    padding-bottom: 1%;
                    padding-top: 1%;
                }
                td{
                    border-top: 1px solid rgb(199, 199, 199);
                    padding-top: 1%;
                    padding-bottom: 0.3%;
                    font-size: 1em;
                    color: #8c93accf;
                }
            }
        }
    }
}