@include media(phone){
    .banner-content{
        display: block !important; 
        .banner-right{
            display: none !important;
        }
        .banner-middle--content{
            width: 743px !important;
            th{
                padding-right: 1em !important;
                padding-left: 1em !important;
            }
            td{
                padding-left: 1em !important;
            }
            th:nth-of-type(1){
                border-right:1px solid rgb(199, 199, 199);
            }
            td:nth-of-type(1){
                border-right:1px solid rgb(199, 199, 199);
            }
        }
        .filters{
            padding-bottom: 2% !important;
            border-bottom: none !important;
            .h5-phn{
                display: block !important;
            }
            .h5-dsk{
                display: none;
            }
            i{
                display: block !important;
            }
        }
        }
        .banner-left,.banner-right,.banner-middle{
            width: 100% !important;
        }
        .banner-left--content{
            padding-bottom: 4% !important;
            padding-top: 4% !important;
        }
        .input-icon{
            padding-top: 0.8em !important;
        }
        .status{
            padding-top: 4% !important;
            width: 105% !important;
            .status-content{
                width: 33% !important;
            }
            .status-content:nth-of-type(1){
                width: 18% !important;
            }
        }
        .filter-btn{
            display: flex !important;
        }

}





.input-icons{
    width: 100%;
    .input-icon{
        width: 100%;
        padding-top: 1em;
        label{
            font-size: 0.9em;
            color: #807d7d;
        }
    }
    i{
        padding: 0.6em;
        font-size: 1.2em;
        right: 0em;
        color: #848484;
        transition: all 0.4s ease-in-out;
    }
    i:hover{
        color: #000;
    }
    .input2{
        justify-content: space-between;
        width: 100%;
        .input{
            width: 47%;
            i{
                padding-top: 2.3em;
                left: 0;
                font-size: 1em;
            }
        }
    }
        input{
            border-radius: 5px;
            border: none;
            height: 38px;
            width: 100%;
            background-color: #d5daefb3;
            transition: all 0.2s ease-in-out;
        }
        input:hover{
            background-color:#b0b4c254;
        }
    }
.banner{
    .banner-content{
        .banner-left{
            width: 482px;
            background-color: #efefefb8;
            overflow: auto;
            .banner-left--content{
                padding: 8%;
                .filters{
                    justify-content: space-between;
                    border-bottom: 1.5px solid #d3d3d3;
                    padding-bottom: 4%;
                    i{
                        color: #8888ff;
                        display: none;
                    }
                    h6{
                        color: #747474;
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                    h5{
                        color: #8888ff;
                        font-size: 0.8em;
                        cursor: pointer;
                        padding-right: 0.5em;
                    }
                    .h5-phn{
                        display: none;
                    }
                    #clear:hover{
                        i,h5{
                        color: #3333ff;
                        }
                    }
                }
                .status{
                    padding-top: 9%;
                    width: 78%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .status-content{
                        width: 50%;
                        padding-bottom: 1em;
                    }
                    label{
                        font-size: 0.9em;
                        display: inline-block;
                        input{
                            vertical-align: middle;
                        }
                    }
                }
                .filter-btn{
                    display: none;
                    justify-content: space-between;
                    width: 100%;

                    h5{
                        color: #8888ff;
                        margin-top: 5px;
                    }
                    button{
                        padding: 0.2em;
                        font-size: 0.9em;
                        letter-spacing: 0px;
                        background-color: #dee1f0;
                        color: blue;
                    }
                }
            }
        }
        .banner-right{
            width: 450px;
            background-color: #efefefb8;
            .banner-right--content{
                padding:8% ;
                .reimburse{
                    border-bottom: 1.5px solid #d3d3d3;
                    padding-bottom: 4%;
                    h6{
                        color: #747474;
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                }
            }
        }
        .banner-middle{
            
            width: 100%;
            overflow-y: auto;
            overflow-x: auto;
            box-shadow: 0px -4px 55px 0px #999999;
            .banner-middle--content{
                height: 670px;
                padding: 1em;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                table{
                    th:nth-of-type(1){
                        position: sticky;
                        left: 0;
                        background-color:#fff;
                        z-index: 99;
                    }
                    td:nth-of-type(1){
                        position: sticky;
                        left: 0;
                        background-color:#fff;
                        z-index: 98;
                    }
                    width: 100%;
                    border-collapse: collapse;
                    position: relative;
                    th,td{
                        border-bottom: 1px solid #e1e1e1;
                    }
                    td{
                        padding: 2em;
                        padding-bottom: 0.5em;
                        padding-top: 0.5em;
                        color: #6a6a6a;
                        
                    }
                    td:nth-of-type(4){
                        color: red;
                    }
                    th{
                        text-align: left;
                        padding: 2em;
                        padding-top: 0.8em;
                        padding-bottom: 0.8em;
                        color: #616161;
                        position: sticky;
                        top:0em;
                        background-color: #fff;
                        .th-content{
                            i{
                                padding: 0.3em;
                                vertical-align: bottom;
                            }
                        }
                    }
                }
            }
        }
    }
}