@include media(phone){
    .header-content{
        width: 86% !important;
        padding: 5% !important;
        .header-btn{
            width: 109% !important;
            button{
                padding: 8% !important;
            }
        }
    }
}
.header{
    background-color: #2a394b;
    position: sticky;
    top: 0;
    z-index: 100;
    .header-content{
        width: 97%;
        margin: 0px auto;
        justify-content: space-between;
        padding: 1%;
        .header-left{
            h1{
                color: #fff;
                font-size: 1.3em;
            }
        }
        .header-right{
            .header-btn{
                width: 106%;
                justify-content: space-between;
                button{
                    font-size: 0.8em;
                    padding: 6%;
                    letter-spacing: 0px;
                    color: #658de7;
                    transition: all 0.6s ease-in-out;
                    font-weight: 700;
                }
                button:hover{
                    background-color: #4b5d72;
                }
            }
        }
    }

}