@include media(phone){
   .header{
       h1{
           font-size: 1em !important;
       }
       .header-right{
            padding-top: 0.3em !important;
            button{
                padding: 1em !important;
                padding-bottom: 0.1em !important;
                padding-top: 0.1em !important;
                padding-left: 0.7em !important;
                padding-right: 0.7em !important;
                font-size: 0.8em !important;
            }
       }
   } 
}
.header{
    background-color: #2a394b;
    position: sticky;
    top: 0;
    z-index: 100;
    .header-content{
        width: 97%;
        margin: 0px auto;
        justify-content: space-between;
        padding: 1%;
        .header-left{
            h1{
                color: #fff;
                font-size: 1.3em;
                padding-top: 0.2em;
            }
        }
        .header-right{
            .header-btn{
                width: 106%;
                justify-content: space-between;
                button{
                    font-size: 1em;
                    padding: 14%;
                    letter-spacing: 0px;
                    color: #658de7;
                    transition: all 0.6s ease-in-out;
                    font-weight: 700;
                }
                button:hover{
                    background-color: #4b5d72;
                }
            }
        }
    }

}