@include media(phone){
    .overlay{
        width: 80% !important;
        left: 3% !important;
        height: 220px !important;
        top: 13.5em !important;
        padding-bottom: 0em !important;
        .oc2{
            display: block !important;
        }
        .or-content1{
            display: block !important;
        }
        .oc1,.input-icons{
            width: 100% !important;
        }
        .overlay-right{
            width: 88% !important;
            height: 100px !important;
            margin-top: 2em;
        }
        .oc3{
            position: sticky !important;
            background-color: #fff;
            bottom: 0;
            padding: 0.3em !important;
            padding-bottom: 1em !important;
            width: 100% !important;
        }
        .overlay-btn{
            width: 100% !important;
            .obb{
                width: 58% !important;
            }
        }

    }
}
.overlay{
    overflow-y: auto;
    display: none;
    position: fixed;
    padding: 1.5em;
    padding-top: 2em;
    z-index: 200;
    width: 47%;
    height: 493px;
    background-color: #fff;
    left: 25%;
    border-radius: 5px;
    top: 8em;
    box-shadow: 0px 6px 25px -4px;
    .oc1{
        justify-content: space-between;
        width: 50%;

    }
    .input-icons{
        width: 46%;
        .input-icon:nth-of-type(2){
            i{
                left: 0;
            }
        }
        .input-icon:nth-of-type(4){
            input{
                height: 130px;
            }
        }
    }
    .oc2{
        justify-content: space-between;
    }
    .overlay-right{
        border: 1px dotted #cac4c4;
        border-radius: 5px;
        width: 45%;
        padding: 1em;
        height: 360px;
        .or-content1{
            justify-content: space-between;
            width: 85%;
        }
        .or-content2{
            padding-top: 0.5em;
            i{
                padding: 0.3em;
            }
        }
        button{
            padding: 0.7em;
        }
        i,h5{
            color: #bcbaba;
        }
    }
    .oc3{
        .overlay-btn{
            padding-top: 4%;
            width: 100%;
            justify-content: space-between;
            .obb{
                width: 23%;
                justify-content: space-between;
            }
            .btn-blue{
                letter-spacing: 1px;
                padding: 1.5em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                font-size: 0.9em;

            }
            .btn-gray{
                letter-spacing: 1px;
                padding: 0.7em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                font-size: 0.9em;   
            }
            h4{
                color: rgb(255, 15, 15);
                margin-top: 5px;
                color: pointer;
            }
    }
    }}