@import "fontawesome";
@import "solid";
@import "regular";
@import "brands";
@import "btn";
@import "font-family";
@import "mediaquery";
@import "header";
@import "banner";



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
a,li{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
._90{
    width: 90%;
}
._80{
    width: 80%;
}
.flex{
    display: flex;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}