@import "fontawesome";
@import "solid";
@import "regular";
@import "brands";
@import "btn";
@import "font-family";
@import "mediaquery";
@import "header";
@import "banner";


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
a,li{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
._90{
    width: 90%;
}
._80{
    width: 80%;
}
.flex{
    display: flex;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
@include media(tablet-portrait){
    .main-icon{
        left: 89% !important;
    }
}
@include media(phone){
    .main-icon{
        left: 80% !important;
    }
}
.main-icon{
    position: fixed;
    top: 90%;
    left: 74%;
    font-size: 4em;
    color: red;
    transition: all 0.5s ease-in-out;
}
.main-icon:hover{
    color: rgb(37, 255, 37);
}
